.opening {
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    color: $white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    .line {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        transform: scaleX(0) scaleY(.01);
        background-color: $black;
        transform-origin: 0 0;
    }
}