.inputWrapper {
    position: relative;

    &.error {
        color: $red;

        .input {
            border-bottom-color: $red;
            color: $red;

            &::placeholder {
                color: inherit;
            }

            &.select {
                color: $red;
            }

            &:focus {
                outline-color: $red;
            }
        }
    }

    .text {
        position: relative;
        z-index: -99;
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 0;
        opacity: 0;
        min-width: 2rem;
        cursor: text;
        border-bottom: 1px solid $black;
        pointer-events: none;
    }

    .input {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        color: $gray-medium;
        background-color: transparent;
        font-size: inherit;
        border: none;
        border-bottom: 1px solid $gray-lighter;
        outline: none;
        border-radius: 0;
        width: calc(100% - .5rem);
        height: calc(2rem - 5px);
        appearance: textfield;
        min-width: 6rem;
        transform: translateY(.1rem);

        @media #{$mq-xs-min} {
            height: calc(2rem - 1px);
        }

        @media #{$mq-sm-min} {
            height: calc(2rem + 1px);
        }
        
        @media #{$mq-md-min} {
            height: calc(2rem + 5px);
        }

        &:focus {
            outline: 1px solid $black;
        }

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px $white inset;
            -webkit-text-fill-color: $black!important;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &.select {
            position: relative;
            top: auto;
            left: auto;
            width: 14.5rem;
            margin-right: .5rem;
            color: rgba($black, .5);

            &.selected {
                color: $black;
            }
        }
    }

    .errorMsg {
        position: absolute;
        z-index: 2;
        top: -1rem;
        left: 0;
        background-color: $red;
        color: $pure-white;
        padding: .125rem .25rem;
        white-space: nowrap;
        border-radius: 2px;
        opacity: 0;
        transform: translateY(20px);
        pointer-events: none;

        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 1rem;
            width: 0; 
            height: 0; 
            border-left: .275rem solid transparent;
            border-right: .275rem solid transparent;
            border-top: .275rem solid $red;
        }
    }
}

.popup {
    display: none;
    background-color: $white;
    color: $black;
    max-width: calc(100% - 1rem);

    & :global {
        .f-button.is-close-btn {
            background-color: transparent;

            @media #{$mq-sm-max} {
                color: $black;
            }
        }
    }

    .wrapper {
        width: 40rem;
        max-width: 100%;
        text-align: center;

        @media #{$mq-sm-min} {
            padding: 1rem;
        }

        .title {
            text-transform: uppercase;

            &.error {
                color: $red;
            }
        }

        .text {
            display: block;
            margin: .75rem auto 1.5rem auto;

            @media #{$mq-sm-min} {
                margin: 1.25rem auto 1.5rem auto;
            }

            br {
                @media #{$mq-sm-max} {
                    display: none;
                }
            }
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            margin: auto;
            padding: .825rem 1.125rem;
            border: 1px solid $black;
            line-height: 1;
            transition: .3s ease-in-out;

            @media #{$mq-sm-min} {
                padding: 1rem 1.5rem;
                gap: .75rem;
            }

            &:hover {
                background-color: $black;
                color: $white;
            }

            svg {
                min-width: .75rem;
                width: .75rem;
                height: .75rem;
            }
        }
    }
}