.contactMarquee {
    background: $white;
    color: $black;
    border-bottom: 1px solid $white;
    transition: .6s ease-in-out;

    &:hover {
        color: $white;
        background: $black;
    }

    .marquee {
        font-size: 20vw;
        line-height: 1;
        display: flex;
        white-space: nowrap;
    }

    .grid {
        align-items: flex-end;
        justify-content: flex-end;
        padding-top: 1rem;

        .flex {
            display: flex;
            align-items: center;
            //justify-content: flex-end;
            gap: .75rem;

            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}