.contactMarquee {
    background: $black;
    color: $white;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    transition: .6s ease-in-out;
    overflow: hidden;

    &:hover {
        color: $black;
        background: $white;

        .grid {
            .flex {
                svg {
                    transform: translateX(.5rem);
                }
            }
        }
    }

    .marquee {
        font-size: 20vw;
        line-height: 1;
        display: flex;
        white-space: nowrap;
        padding-top: clamp(3.5rem, 6vw, 5.5rem);
    }

    .grid {
        align-items: flex-end;
        justify-content: flex-end;

        .flex {
            display: flex;
            align-items: center;
            //justify-content: flex-end;
            gap: .75rem;

            svg {
                width: 1rem;
                height: 1rem;
                transition: .3s transform ease-in-out;
            }
        }
    }
}