.followMouseSection {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    clip-path: inset(-10% -10% -10% -10%);

    .followMouse {
        position: fixed;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        background-color: transparentize($pure-white, .05);
        color: $black;
        pointer-events: none;
        transform: scale(0);

        @media #{$mq-md-max} {
            display: none;
        }

        &.big {
            width: 9rem;
            height: 9rem;
        }
    }

    .content {
        position: relative;
        z-index: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}