---

// components
import Layout from '@/layouts/Layout.astro'

---

<Layout
	title='Saad®'
	description='Saad® is an internationally award-winning boutique brand consultancy specialized in building and transforming the future of businesses.'
	page_class='about'
>
	<section id='about'>
		<a href='/'>
			Go home
		</a>
	</section>
</Layout>