---
// libraries
import { Image } from 'astro:assets'
import { Schema } from 'astro-seo-schema'

// components
import Layout from '@/layouts/Layout.astro'
import Testimonials from '@/components/Testimonials.astro'
import ContactMarquee from '@/components/ContactMarquee.astro'

// routes / utils
import routes from '@/utils/routes'

---

<Layout
	title='Saad®'
	description='Saad® is an internationally award-winning boutique brand consultancy specialized in building and transforming the future of businesses.'
	page_class='home'
>
	<Schema
		slot='schema'
		item={{
			'@context': 'https://schema.org',
			'@type': 'WebSite',
			name: 'Saad®',
			url: 'https://saad.cx'
		}}
	/>

	<section id='showreel' style='height: 90vh'>
		<div class='container'>
			<a href='#' class='video'>
				
			</a>
		</div>
	</section>

	<section id='big-text'>
		<div class='container'>

			<h1 class='uppercase'>
				Impactful <br />
				Tailored <br />
				Brands
			</h1>

		</div>
	</section>

	<section id='projects'>
		<p style='background: gray; height: 100vh'>
			asd
		</p>
	</section>

	<section id="who">

	</section>

	<section id="accordion">

	</section>

	<Testimonials />

	<ContactMarquee />

</Layout>

<style lang='scss'>
	#home {
		
	}
</style>

<script>
	
</script>