---
// libraries
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

// components
import Layout from '@/layouts/Layout.astro'
import Footer from '@/components/Footer.astro'

---

<Layout
	title='Saad®'
	description='Saad® is an internationally award-winning boutique brand consultancy specialized in building and transforming the future of businesses.'
	page_class='home'
>
	<section id='home'>
		<a href='/about'>
			Go to about
		</a>
	</section>
</Layout>

<style lang='scss'>
	#home {
		
	}
</style>

<script>
	
</script>