---
// libraries
import { Image } from 'astro:assets'

// components
import Layout from '@/layouts/Layout.astro'
import Testimonials from '@/components/Testimonials.astro'
import ContactMarquee from '@/components/ContactMarquee.astro'
import Footer from '@/components/Footer.astro'

// utils
import routes from '@/utils/routes'

---

<Layout
	title='Saad®'
	description='Saad® is an internationally award-winning boutique brand consultancy specialized in building and transforming the future of businesses.'
	page_class='home'
>

	<section id='showreel'>
		<div class='container'>
			<a href='#' class='video'>
				
			</a>
		</div>
	</section>

	<section id='big-text'>
		<div class='container'>

			<h1 class='uppercase'>
				Impactful <br />
				Tailored <br />
				Brands
			</h1>

		</div>
	</section>

	<section id='projects'>

	</section>

	<section id="who">

	</section>

	<section id="accordion">

	</section>

	<Testimonials />

	<ContactMarquee />

	<Footer />

</Layout>

<style lang='scss'>
	#home {
		
	}
</style>

<script>
	
</script>