---
// libraries
import { Image } from 'astro:assets'

// components
import Layout from '@/layouts/Layout.astro'
import Icon from '@/components/utils/Icon.astro'
import Footer from '@/components/Footer.astro'

// utils
import { routes } from '@/utils/routes'

---

<Layout
	title='Saad®'
	description='Saad® is an internationally award-winning boutique brand consultancy specialized in building and transforming the future of businesses.'
	page_class='home'
>
	<section id='home'>

		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque quam, iure eveniet sequi reprehenderit ipsum maiores fugit in incidunt repellendus sint dicta soluta esse ex, quia nostrum ipsa id, est expedita aperiam hic optio consectetur quidem? Voluptates atque, aut quae eveniet est expedita vero iste. Vitae nemo delectus nam ex? Dicta, voluptas. Odit, minus necessitatibus corrupti quis temporibus quaerat dolore, porro esse, culpa quia id perferendis! Nemo laborum nam cumque, iure quis et libero dolorum voluptatibus quaerat sed culpa a mollitia at eius minus ab recusandae porro asperiores voluptates magni quidem! Enim porro facere ab sequi exercitationem, nulla obcaecati voluptate ea vero cum quis similique illum quam necessitatibus repellendus eum unde, quod id facilis laboriosam possimus! Inventore quae et distinctio ducimus dolore omnis amet, praesentium expedita voluptatibus nihil iste veritatis facere, ipsum doloribus esse blanditiis ullam molestiae adipisci ex nisi odio possimus. Quaerat error soluta et, ratione expedita non, accusamus, natus obcaecati autem aut porro hic explicabo nihil numquam distinctio suscipit assumenda itaque. Ad ullam sunt et, itaque maxime sint pariatur quibusdam omnis eveniet iste exercitationem similique fugit magni iure saepe sed porro, atque quo harum ipsum officia sapiente id optio cupiditate. Similique nisi placeat magni, voluptates laborum iusto reprehenderit temporibus ex praesentium natus obcaecati possimus. Voluptatem aperiam itaque minima earum maiores officiis id, est excepturi distinctio. Voluptates consequuntur quaerat iste aliquam labore culpa. Saepe eos suscipit facilis praesentium deleniti labore ipsam neque, nisi dolorem autem quae illo voluptatibus repellat omnis accusantium ratione asperiores sit maxime voluptas quaerat eveniet exercitationem? Deserunt fugit natus, laudantium rerum labore impedit voluptatum quisquam odit earum, qui aliquam harum voluptas veniam provident laborum beatae neque, dolorum atque vero tempora enim? Ipsam laudantium facere laboriosam adipisci quaerat praesentium cum vitae voluptas et est ipsum maiores beatae sequi aliquam assumenda, iusto error numquam nihil laborum voluptates maxime iure harum quod omnis. Modi, laboriosam! Dolore suscipit obcaecati omnis illum sapiente ipsa quod quos voluptatum optio dolorum ut, provident laboriosam saepe fuga quaerat quis dolorem. Facilis accusantium autem similique dolores magni nesciunt amet dolorum quae, ipsa doloremque? Quod delectus iusto inventore sed excepturi tempore cumque, nisi aspernatur quisquam molestiae facere explicabo enim quas expedita maiores vero vitae saepe rerum porro voluptates labore optio cupiditate at quis. Eos earum at sed veniam aperiam laudantium explicabo, incidunt natus enim esse odit dolores nam totam officia suscipit, doloremque quibusdam dicta ipsum sequi ex! Error qui, esse quas rerum animi eos repellendus? Dicta aliquid reprehenderit vitae quos, tenetur ullam et soluta quasi aut, adipisci aspernatur inventore consequuntur. A, reprehenderit eaque sequi fuga nostrum aliquam dolorem alias, adipisci harum, veritatis eius. Itaque ratione aspernatur hic rerum iusto harum totam modi velit eum nisi quis at, consectetur ut atque error aperiam voluptate distinctio iure vero nemo in porro dolore pariatur provident. Obcaecati porro inventore perferendis officiis harum, voluptates fugit reiciendis, incidunt quibusdam, velit nostrum assumenda dolore tempore. Sed praesentium fuga saepe est architecto tempore, odio ab odit nisi maiores accusamus magni quas tenetur natus consequuntur sunt incidunt commodi debitis velit repudiandae porro. Enim, harum maxime?
		</p>

		<div style='height: 300px; width: 100vw; background: green;'></div>

		<a href='/about'>
			Go to about
		</a>

		<div style='height: 1000px; width: 100vw; background: blue;'></div>

		<a href='/about'>
			Go to about
		</a>

		<div style='height: 1000px; width: 100vw; background: red;'></div>

		<a href='/about'>
			Go to about
		</a>

		<div style='height: 1000px; width: 100vw; background: yellow;'></div>

		<a href='/about'>
			Go to about
		</a>
		
	</section>
</Layout>

<style lang='scss'>
	#home {
		
	}
</style>

<script>
	
</script>