.footer {
    position: relative;
    z-index: 3;
    background-color: $black;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .top {
        .grid {
            position: relative;
            align-items: flex-start;
            justify-content: space-between;
            padding-top: 8rem;

            @media #{$mq-md-min} {
                padding-top: 4rem;
            }

            @media #{$mq-xl-min} {
                padding-top: 0;
                align-items: flex-end;
            }

            .backToTop {
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 1px solid $white;
                color: $white;
                padding: .5rem;
                transition: .3s ease-in-out;

                @media #{$mq-md-max} {
                    position: absolute;
                    top: 4rem;
                    left: 0;
                }

                &:hover {
                    background-color: $white;

                    svg {
                        &:first-child {
                            transform: translateY(-150%);
                        }

                        &:last-child {
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                svg {
                    transition: .3s ease-in-out;

                    &:last-child {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, 150%);
                        width: .9rem;
                        height: .9rem;
                        color: $black;
                    }
                }
            }

            .texts {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                align-self: flex-start;
            }
        }
    }

    .bottom {
        padding-top: 10vh;

        @media #{$mq-sm-min} {
            padding-top: 15vh;
        }

        @media #{$mq-md-min} {
            padding-top: 30vh;
        }

        @media #{$mq-lg-min} {
            padding-top: 0;
            display: flex;
            align-items: flex-end;
        }

        .logo {
            position: relative;
            overflow: hidden;
            display: flex;

            svg {
                margin-bottom: -7vw;
            }
        }
    }
}