---
import { Icon } from 'astro-icon/components'

// utils
// import routes from '@src/utils/routes'

---

<section id='contact-marquee'>
    <div class='container'>

    </div>
</section>

<style lang='scss'>
	#contact-marquee {
        background: $white;
        color: $black;
    }
</style>