---
import { Icon } from 'astro-icon/components'

// utils
// import routes from '@src/utils/routes'

---

<footer id='footer'>
    <p>
        footer
    </p>
</footer>

<style lang='scss'>
	#footer {
        
    }
</style>