---
// libraries
import { Icon } from 'astro-icon/components'

// routes / utils
import routes from '@/utils/routes'
import { phone, email } from '@/utils/functions'

// contact links
const contact_links = [
    {
        ulClass: 'social',
        li: [
            {
                name: 'Linkedin',
                url: routes.linkedin
            },
            {
                name: 'Instagram',
                url: routes.instagram
            }
        ]
    },
    {
        ulClass: 'contact',
        li: [
            {
                name: routes.email,
                url: email(routes.email)
            },
            {
                name: routes.phone,
                url: phone(routes.phone)
            }
        ]
    }
]

---

<footer id='footer'>
    
    <section class='top'>
        <div class='container'>
            <div class='grid-container'>

                <button class='back-to-top'>
                    <Icon name='ux/arrow-up' is:inline />
                    <Icon name='ux/arrow-up' is:inline />
                </button>

                <div class='texts grid-md-3-5 grid-xl-5-6'>
                    {contact_links.map(item => (
                        <ul class={item.ulClass}>
                            {item.li.map(subItem => (
                                <li>
                                    <a href={subItem.url} class='hover-underline'>
                                        {subItem.name}
                                    </a>
                                </li>    
                            ))}
                        </ul>
                    ))}
                </div>

                <div class='texts grid-md-5-7 grid-xl-6-7'>
                    
                    <p>
                        Est. 2011<br />
                        Curitiba, Brazil
                    </p>

                    <p>
                        Saad® @ {new Date().getFullYear()}<br />
                        All rights reserved.
                    </p>

                </div>

            </div>
        </div>
    </section>

    <section class='bottom'>
        <div class='container'>
            <div id='footer-logo'>
                <Icon name='logos/logo' is:inline />
            </div>
        </div>
    </section>

</footer>

<style lang='scss'>
	#footer {
        .top {
            padding-top: 3rem;

            @media #{$mq-md-min} {
                padding-top: 4rem;
            }

            .grid-container {
                position: relative;
                align-items: flex-end;
                justify-content: space-between;

                @media #{$mq-md-max} {
                    padding-top: 4rem;
                }

                .back-to-top {
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border: 1px solid $white;
                    color: $white;
                    padding: .5rem;
                    transition: .3s ease-in-out;

                    @media #{$mq-md-max} {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:hover {
                        background-color: $white;

                        svg {
                            &:first-child {
                                transform: translateY(-150%);
                            }

                            &:last-child {
                                transform: translate(-50%, -50%);
                            }
                        }
                    }

                    svg {
                        transition: .3s ease-in-out;

                        &:last-child {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, 150%);
                            width: .9rem;
                            height: .9rem;
                            color: $black;
                        }
                    }
                }

                .texts {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                }
            }
        }

        .bottom {
            padding-top: 10vh;

            @media #{$mq-sm-min} {
                padding-top: 15vh;
            }

            @media #{$mq-md-min} {
                padding-top: 30vh;
            }

            @media #{$mq-lg-min} {
                height: 100svh;
                padding-top: 0;
                display: flex;
                align-items: flex-end;
            }

            #footer-logo {
                position: relative;
                overflow: hidden;
                display: flex;

                svg {
                    margin-bottom: -7vw;
                }
            }
        }
    }
</style>

<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

    const tl = gsap.timeline({
        paused: true,
        scrollTrigger: {
            trigger: '#footer-logo',
            toggleActions: 'restart none resume none',
            start: '0 100%'
        }
    })

    tl.from('#footer-logo svg path', {
        yPercent: 100,
        stagger: .25,
        duration: 1,
        ease: 'power2.out',
    })

    document.querySelector('.back-to-top').addEventListener('click', () => {
        document.dispatchEvent(new Event('scrollTop'))
    })

</script>