---
import { Icon } from 'astro-icon/components'

// utils
// import routes from '@src/utils/routes'

---

<section id='testimonials'>
    <div class='container'>

    </div>
</section>

<style lang='scss'>
	#testimonials {
        
    }
</style>