.banner {
    .firstSection {
        height: 100svh;
        position: relative;
        z-index: 2;

        .video {
            position: relative;
            overflow: hidden;
            display: block;
            width: 100%;
            //height: calc(100svh - 7rem);
            height: 100svh;
            margin-top: 100svh;

            .play {
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 8rem;
                height: 8rem;
                border-radius: 50%;
                background-color: $pure-white;
                color: $black;
                text-transform: uppercase;

                @media #{$mq-md-min} {
                    display: none;
                }
            }
        }
    }

    /*
    h1 {
        font-size: 18vw;
        text-transform: uppercase;
        line-height: 1;

        @media #{$mq-sm-min} {
            font-size: 18.25vw;
            line-height: .9;
        }

        @media #{$mq-md-min} {
            font-size: 18.5vw;
            margin-top: -27vw;
        }

        * {
            letter-spacing: -1vw;
        }
    }
    */

    h1 {
        position: relative;
        z-index: 0;
        margin-top: calc(-100svh + -26vw);
        padding-bottom: 210dvh; // this should be the same as the ScrollTrigger.create end value inside index.jsx
    }
}

.projects {
    .viewAll {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        transition: .3s ease-in-out;
        margin-top: 1px;

        &:hover {
            background-color: $white;
            color: $black;

            svg {
                transform: translateX(.5rem);
            }
        }

        svg {
            width: 1rem;
            height: 1rem;
            transition: .3s transform ease-in-out;
        }
    }
}

.counters {
    overflow: hidden;
    
    .grid {
        .left {
            @media #{$mq-md-max} {
                margin-bottom: 1rem;
            }
        }

        .right {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .box {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                margin-bottom: calc(clamp(2.5rem, 6vw, 5rem) / 2);

                &:last-child,
                &:nth-last-child(2) {
                    .line {
                        display: none;
                    }
                }

                .number {
                    line-height: 1;
                }

                .text {
                    display: block;
                    width: 15rem;
                    max-width: 100%;
                    margin-bottom: calc(clamp(2.5rem, 6vw, 5rem) / 2);

                    @media #{$mq-sm-max} {
                        font-size: 1rem;
                        width: 13rem;
                    }
                }

                .line {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $white-50;

                    @media #{$mq-sm-min} {
                        width: 90%;
                    }

                    @media #{$mq-lg-min} {
                        width: 75%;
                    }
                }
            }
        }
    }
}