.video {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: -1px;

    .sound {
        position: absolute;
        z-index: 9999;
        bottom: 1rem;
        left: 1rem;
        background-color: $white;
        color: $black;
        padding: .5rem 1rem;
        display: block;
        width: fit-content;
    }

    .player {
        pointer-events: none;
    }
}